.Expirience {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.Expirience > h3 {
    font-size: 30px;
}

.position {
    display: flex;
    position: relative;
}

.title-and-dates {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-and-dates > h4 {
    margin-bottom: 0;
}

.company-and-responsibilities {
    width: 70%;
}

.company-and-responsibilities > h4 {
    padding-left: 20px;
}

.expirience-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;
    left: 75px;
    top: -20px
}

.expirience-buttons > button {
    width: 100px;
    height: 25px;
}
