.PersonalInfo {
    position: relative;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-between;
}

.name, .job {
    margin: 0px 20px 0px 20px;
}

.name {
    padding-top: 10px;
    font-size: 45px;
}

.job {
    padding-left: 10px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 20px;
}

.info > p {
    margin-top: 0;
    margin-bottom: 0;
}

.edit-button {
    position: absolute;
    left: 45%;
    top: 5px;
    width: 100px;
    height: 30px;
}